@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button{
        @apply h-5 w-5 cursor-pointer hover:scale-125 transition transform duration-100 ease-out
    }
    .button1{
        @apply h-10 w-10 cursor-pointer hover:scale-125 transition transform duration-100 ease-out
    }
}